# backend compiled output
/backend-OLD/dist
/backend-OLD/node_modules
__pycache__
# frontend compiled output
/frontend/node_modules

# Logs
/backend-OLD/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/backend-OLD/coverage
/backend-OLD/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

backend-OLD/src/config/keys.ts
backend-OLD/package-lock.json
frontend/package-lock.json

.vscode