.cashier {
  /* flexbox */
  display: flex;
  flex: 1;
  flex-direction: row;

  /* margin & padding */
  padding: 4vh;

  /* background-color: aqua; */
}

.left {
  flex-direction: column;
  flex: 0.8;
}

.right {
  flex: 0.2;
}

.searchbar-container {
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  padding: 10px;
}
.itemcards-container {
  padding: 10px;
}
.category-container {
  /* background-color: yellow; */
  padding: 10px 0 10px 0;
}

h1 {
  font-size: 14px;
  color: #4d4d4d;
  font-family: "Quicksand";
}
