.searchbar {
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* colors */
  color: #4d4d4d;
  background-color: var(--secondairy);
  /* dimensions */
  width: 175px;
  /* padding & margins */
  padding: 10px;

  border-radius: 8px;
}

.inputfield {
  color: white;
  background-color: var(--secondairy);
  border: none;
  outline: none;
}
