@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

:root {
  --primary: #00a99d;
  --secondairy: #66cbc4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
}
