.btn {
  /* flexbox */
  display: flex;
  flex: 1;
  /* look and size */
  border-radius: 12px;
  width: 85%;
  border: none;
  outline: none;
  /* others */
  cursor: pointer;
  /*top - right - bottom - left*/
  margin: 10px 0px 10px 0px;
  transition: transform 0.3s ease;
}

.btn--content {
  /* flexbox */
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-self: center;
  /* fonts */
  font-family: "Quicksand";
  font-size: 15px;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Button variants*/
.btn--default {
  background-color: transparent;
}

.btn--content--default {
  color: white;
}

.btn--clicked {
  background-color: white;
  font-size: 17px;
  color: var(--primary);
}

.btn--content--clicked {
  color: var(--primary);
}

.title {
  font-family: "Quicksand";
  font-size: 15px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .title {
    display: none;
  }
  .btn {
    transition: width 0.3s ease;
  }
}
