.btn {
  /* flexbox */
  display: flex;
  justify-content: space-evenly;
  /* fonts */
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 15px;
  /* look and size */
  border-radius: 8px;
  height: 35px;
  width: 85%;
  /* others */
  cursor: pointer;
  /*top - left - bottom - right*/
  margin: 10px 0px 10px 0px;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Button variants*/
.btn--default {
  background-color: var(--primary);
  color: white;
  border: none;
}

.btn--clicked {
  background-color: white;
  font-size: 17px;
  color: var(--primary);
  border: none;
}
