.btn {
  font-family: "Quicksand";
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 35px;
  width: 100%;
  /*top - right - bottom - left*/
  margin: 10px 0px 10px 0px;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Button variants*/
.btn--default {
  background-color: var(--primary);
  color: white;
  border: none;
}

.btn--clicked {
  background-color: white;
  color: var(--primary);
  border: none;
}
